* {
  box-sizing: border-box;
}
body, html {
  height: 100%;
  margin: 0;
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  font-size: 14px;
}

.header{
  text-align: left;
  margin: 5rem;
  width: 50%;
  border-bottom: 1px solid black;
}

.header h1{
  font-weight: 100;
  font-size: 4rem;
}

.content{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;

}

.posts{
  text-align: center;
  min-width: 300px;
  
}

.card {
  margin: auto;
  margin-bottom: 3rem;
  text-align: center;
  width: 40vw;
  padding: 3rem;
  box-shadow: 0px 0px 5px 1px #ccc;
}

.card img{
  width: 100%;
}

.lkt{
  width: 40%;
  height: 100%;
}

.footer{
  border-top: 1px solid grey;
  margin: auto;
  width: 70%;
  padding: 2rem;
  font-size: 0.75rem;
}

@media only screen and (max-width: 600px) {
  body{
    font-size: 8px;
  }
  .card{
    padding: 0;
    width: 60vw;
  }
}